<tr>
  <td scope="col"><%= link_to task.title, task%></td>
  <td scope="col"><%= task.body%></td>
  <td scope="col"><%= task.due_time ? task.due_time.strftime('%Y/%m/%d %H:%M') : 'なし'%></td>
  <td scope="col"><%= task.status%></td>
  <td scope="col"><%= task.priority_i18n%></td>
</tr>